{
  "services": [
    {
      "name": "{{ grafana_service.name }}",
{% if grafana_service.tags %}
      "tags": ["{{ grafana_service.tags|join('", "') }}"],
{% endif %}
{% if grafana_service.meta %}
      "meta": {
{% for key, value in grafana_service.meta.items() %}
        "{{ key }}": "{{ value }}"{% if not loop.last %},{% endif %}

{% endfor %}
      },
{% endif %}
      "address": "{{ grafana.host }}",
      "port": {{ grafana.port }}
    }
  ]
}
