---

datasources:
{% if grafana.datasources.prometheus|default(False) %}
  - name: {{ grafana.datasources.prometheus.name }}
    type: prometheus
    access: proxy
    url: {{ grafana.datasources.prometheus.url }}
    editable: true
    is_default: true
    org_id: 1
    version: 1
{% endif %}

{% if grafana.datasources.loki|default(False) %}
  - name: {{ grafana.datasources.loki.name }}
    type: loki
    access: proxy
    url: {{ grafana.datasources.loki.url }}
    jsonData:
      maxLines: 1000
{% endif %}
