---

version: '3.5'

{% if grafana.contaner.networks|default(False) %}
networks:
{% for network in grafana.container.networks|default([]) %}
  {{ network.name }}:
    external: true
{% endfor %}
{% endif %}

volumes:
  data:

services:
  server:
    container_name: {{ grafana.container.name }}
    image: {{ grafana.container.image }}
{% if grafana.container.dns|default(False) %}
    dns: {{ grafana.container.dns }}
{% endif %}
{% if grafana.container.labels|default(False) %}
    labels:
{% for label in grafana.container.labels|default([]) %}
      - {{ label }}
{% endfor %}
{% endif %}
    environment:
      - GF_SECURITY_ADMIN_USER={{ grafana.frontend.auth.user }}
      - GF_SECURITY_ADMIN_PASSWORD={{ grafana.frontend.auth.password }}
      - GF_SERVER_ROOT_URL={{ grafana.frontend.domain }}
      - GF_USERS_ALLOW_SIGN_UP=false
    labels:
      org.label-schema.group: "monitoring"
{% if grafana.container.syslog.enabled %}
    logging:
      driver: syslog
      options:
        syslog-address: "{{ grafana.container.syslog.host }}"
        tag: {{ grafana.container.syslog.tag }}
{% endif %}
{% if grafana.container.networks|default(False) %}
    networks:
{% for network in grafana.container.networks|default([]) %}
      - {{ network.name }}
{% endfor %}
{% endif %}
    ports:
      - {{ grafana.host }}:{{ grafana.port }}:3000
    restart: {{ grafana.container.restart }}
    volumes:
      - data:/var/lib/grafana
      - ./datasources.yml:/etc/grafana/provisioning/datasources/all.yml
      - ./dashboards:/etc/grafana/provisioning/dashboards
